body {
	margin:0;
	padding: 0;
	font-size: 1em;
	font-family: verdana;
}
nav {
  padding: 20px;
  background: #000;
  color: #ccc;
}
nav a{
  color: #ccc;
  text-decoration: none;
}
h2 {
  font-size: 1.3em;
  color: #3dae7c;
  text-shadow: 1px 1px #35495e61;
}
p {
  font-size: 0.9em;
}
.content {
	padding: 20px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 32px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -5px;
}