body {
	margin:0;
	padding: 0;
	font-size: 1em;
	font-family: verdana;
}
nav {
  padding: 20px;
  background: #4d4d4d;
  color: #ccc;
}
nav a{
  color: #ccc;
  text-decoration: none;
}
h2 {
  font-size: 1.3em;
  color: #4d4d4d;
  font-weight: 200;
}
p {
  font-size: 0.9em;
}
.center{
  text-align: center;
}
.info-bar {
  background: #3faf75;
  padding: 5px;
  color: #fff;
  font-size: 0.9em;
}
.content {
	padding: 20px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 32px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -5px;
}