body{
	margin:0;
	padding: 0;
	font-size: 1em;
	font-family: verdana;
}
nav {
  padding: 20px;
  background: #000;
  color: #ccc;
}
nav a{
  color: #ccc;
  text-decoration: none;
}
.content{
	padding: 20px;
}
.logo {
  width: 32px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -5px;
}